<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>757660950355-vqco9v26q0aq5v1p9kp99m47qja25ito.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.757660950355-vqco9v26q0aq5v1p9kp99m47qja25ito</string>
	<key>API_KEY</key>
	<string>AIzaSyBTCSkl1RR7yJCen2Pcs-k8-GZeALMh_DQ</string>
	<key>GCM_SENDER_ID</key>
	<string>757660950355</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.gopizza</string>
	<key>PROJECT_ID</key>
	<string>gopizza-c17e3</string>
	<key>STORAGE_BUCKET</key>
	<string>gopizza-c17e3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:757660950355:ios:920d35954902b31d6b4ba6</string>
</dict>
</plist>